python-dotenv==1.0.1
langchain-google-genai==2.0.10
playwright==1.51.0
pydantic==2.10.6
selenium==4.29.0
undetected-chromedriver==3.5.5
#google-generativeai==0.4.0
browser-use

# Additional packages from site-packages
beautifulsoup4==4.12.3
langchain-ollama==0.2.2
langchain-openai==0.3.1
langsmith==0.3.15
markdownify==0.14.1
ollama==0.4.7
openai==1.66.3
orjson==3.10.15
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
tenacity==9.0.0
tiktoken==0.9.0
tqdm==4.67.1
trio==0.29.0
typing-extensions==4.12.2
urllib3==2.3.0
webdriver-manager==4.0.2
websockets==15.0.1
zstandard==0.23.0

